body {
    margin: 0;
}

header {
    background-color: purple;
}

.navigation {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navigation a {
    padding-left: 20px;
    padding-right: 20px;
}